run = "npm start"
modules = ["nodejs-22", "postgresql-16"]
entrypoint = "server.js"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm ci --omit=dev"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80
